.namecard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 14rem;
    background-color: #181D20;
    position: relative;
    padding: 0.3rem;
    border-radius: 10px;
    border: 2px solid #303b43;
}

.namecard .profilepic {
    width: 10rem;
    height: 10rem;
    position: absolute;
    top: -4rem;
    border-radius: 50%;
    mask-image: url("../../../public/assets/profilepic/samyajit_das.jpg");
    background-position: center;
}

.namecard .profilepic img {
    width: 100%;
}

.namecard .name {
    margin-top: 6rem;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.6rem;
}

.namecard .flexing {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem
}
.pupil {
    background-color: var(--pupil-bg);
    color: var(--pupil);
    border: 1.5px solid var(--pupil);
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
.newbie {
    background-color: var(--newbie-bg);
    color: var(--newbie);
    border: 1.5px solid var(--newbie);
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
.specialist {
    background-color: var(--specialist-bg);
    color: var(--specialist);
    border: 1.5px solid var(--specialist);
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
.expert, .cc-3 {
    background-color: var(--expert-bg);
    color: var(--expert);
    border: 1.5px solid var(--expert);
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.candidate-master, .cc-4 {
    background-color: var(--candidate-master-bg);
    color: var(--candidate-master);
    border: 1.5px solid var(--candidate-master);
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.namecard .byline {
    font-weight: 300;
    text-align: center;
    color: #ffffff92;
    padding: 1rem;
}

.namecard .cp-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%
}

.namecard .cp-profile .icon-button:hover {
    background-color: #303b43;
}

.cf-img {
    height: 1em;
    margin-right: 5px;
}

.cf-iconbutton {
    height: 0.8em;
}

.namecard .flexing a {
    text-decoration: none;
}