.home {
    /* margin-top: 4rem; */
    padding: 0 2rem;
    margin-top :60px;
    /* height: 100vh; */
}

.intro {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 60px);
    /* border: 1px solid red; */
    position: relative;
    /* background-color: red; */
}

.intro .banner {
    position: relative;
    width: 70%;
    height: 25rem;
    /* border: 1px solid red */
}

.intro .banner .img {
    background-image: url("/assets/banner.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;

    position:relative;
    left: 32px;

    /* border: 1px solid green; */

    z-index: 1;
}

.intro .info {
    flex-grow: 1;
    width: 70%;
    /* padding: 2rem */
}

.intro .info .heading,
.home .team .heading,
.home .about .heading {
    font-size: 3rem;
    font-weight: 600;
    text-align: left;
    text-shadow: 0 0 5px black
}

.heading span {
    text-shadow: none;
}

.home .team .heading,
.home .about .heading {
    text-align: center;
}

.gradient-text {
    background: linear-gradient(120deg, var(--text-gradient-1), var(--text-gradient-2));
    /* Add text styles */
    background-clip: text;
    -webkit-background-clip: text !important;
    color: transparent;
    font-size: 3.5rem;
    font-weight: bolder
}

.intro .info .content,
.home .about .content,
.home .team .content {
    padding-top: 1rem;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: left;
    line-height: 1.4em;
    color: var(--normal-text);
}

.home .team {
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home .about .content,
.home .team .content {
    font-weight: 400;
}

.home .team .teams-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 5rem;
    gap: 2rem
}

.home .about {
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home .about .content,
.home .team .content {
    width: min(70ch, 100%);
    text-align: center;
}

.home .about .presented-by {
    width: min(100%, 300px);
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.home .about .presented-by img {
    width: 100%;
    gap: 2rem;
    flex-wrap: wrap;
}

.intro .info .button-group {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
    flex-wrap: wrap;
}

.button-icon {
    height: 1em;
    width: 1em;
}

@media only screen and (max-width: 900px){

    .home {
        /* width :100vw; */
        padding: 1rem;
    }
    .intro .banner .img {
        height: 100%;
        left: 0;
        opacity: 0.4;
    }

    .intro .banner{
        /* display: none */
        position:absolute;
        z-index: -1;
        /* border: 1px solid yellow; */
        width: 100%;
        height: 100%
    }

    .intro .info{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%
    }

    .intro .info .button-group {
        justify-content: center;
    }

    .intro .info .content{
        text-align: center;
        width: min(45ch, 100%)
    }

    .intro .info .heading{
        text-align: center
    }

    .team{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .team .heading{
        text-align: center;
    }

    
    .team .teams-list {
        justify-content: center;
        gap: 2rem
    }
}

@keyframes wiggle {
    0%{
        transform: translateX(0px) scaleX(1)
    }
    5%{
        transform: translateX(10px);
    }
    10%{
        transform: translateX(0px) scaleX(1)
    }
    15%{
        transform: translateX(10px)
    }
    20%{
        transform: translateX(0px) scaleX(1)
    }
    100%{
        transform: translateX(0px)
    }
}