.home {
    margin-top: 4rem;
    padding: 2rem;
}

.intro {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    /* background-color: red; */
}

.intro .banner {
    width: 70%;
}

.intro .banner img {
    width: 100%;
    position:relative;
    left: 32px;

}

.intro .info {
    flex-grow: 1;
    width: 70%;
    /* padding: 2rem */
}

.intro .info .heading,
.home .team .heading,
.home .about .heading {
    font-size: 3rem;
    font-weight: 600;
    text-align: left;
}

.home .team .heading,
.home .about .heading {
    text-align: center;
}

.gradient-text {
    background: linear-gradient(120deg, var(--text-gradient-1), var(--text-gradient-2));
    /* Add text styles */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 3.5rem;
    font-weight: bolder
}

.intro .info .content,
.home .about .content,
.home .team .content {
    padding-top: 1rem;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: left;
    line-height: 1.4em;
    color: var(--normal-text);
}

.home .team {
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home .about .content,
.home .team .content {
    font-weight: 400;
}

.home .team .teams-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 5rem;
    gap: 2rem
}

.home .about {
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home .about .content,
.home .team .content {
    width: min(70ch, 100%);
    text-align: center;
}

.home .about .presented-by {
    width: min(100%, 300px);
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.home .about .presented-by img {
    width: 100%;
    gap: 2rem;
    flex-wrap: wrap;
}

.intro .info .button-group {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
    flex-wrap: wrap;
}

.button-icon {
    height: 1em;
    width: 1em;
}

@media only screen and (max-width: 900px){
    .intro .banner{
        display: none
    }

    .intro .info{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%
    }

    .intro .info .button-group {
        justify-content: center;
    }

    .intro .info .content{
        text-align: center;
        width: min(45ch, 100%)
    }

    .intro .info .heading{
        text-align: center
    }

    .team{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .team .heading{
        text-align: center;
    }

    
    .team .teams-list {
        justify-content: center;
        gap: 2rem
    }
}