@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    --newbie: #bab4b4;
    --pupil: #31ef39;
    --specialist: #13f3f3;
    --expert: #0cb2f9;
    --candidate-master: rgb(252, 73, 252);
    --candidate-master-bg: rgba(252, 73, 252, 29%);
    --newbie-bg: rgba(150, 150, 150, 29%);
    --pupil-bg: rgba(49, 239, 57, 29%);
    --specialist-bg: rgba(19, 243, 243, 20%);
    --expert-bg: rgba(37, 134, 248, 29%);
    --text-gradient-1: #2586f8;
    --text-gradient-2: #25f893;
    --normal-text: #cccccc;
    --master: rgb(255, 221, 2);
    --master-bg: rgba(255, 221, 2, 29%);
    --grandmaster: rgb(247, 72, 32);
    --grandmaster-bg: rgba(247, 32, 32, 20%);
    --headercolor: rgb(32, 32, 32);
    font-family: "Roboto", sans-serif;
    color: #fff;
}

body {
    margin: 0;
    background-color: #0f1214;
    /* overflow-x: hidden; */
}

.icon-buttons {
    width: 1.8rem;
}

a {
    text-decoration: none;
}

*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #f5f5f500;
}

*::-webkit-scrollbar-thumb {
    width: 5px !important;
    height: 5px !important;
    border-radius: 10px;
    background: linear-gradient(var(--text-gradient-1), var(--text-gradient-2));
}
*::-webkit-scrollbar-button,
*::-webkit-scrollbar-corner {
    display: none;
}

.h-text {
    color: transparent;
    background: linear-gradient(#fff 40%, hsla(0, 0%, 100%, 0.3));
    background-clip: text;
    -moz-background-clip: text;
}