@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    --newbie: #969696;
    --pupil: #31ef39;
    --specialist: #13f3f3;
    --expert: #269bfc;
    --newbie-bg: rgba(150, 150, 150, 29%);
    --pupil-bg: rgba(49, 239, 57, 29%);
    --specialist-bg: rgba(19, 243, 243, 20%);
    --expert-bg: rgba(37, 134, 248, 29%);
    --text-gradient-1: #2586f8;
    --text-gradient-2: #25f893;
    --normal-text: #ffffffbb;
    font-family: "Roboto", sans-serif;
    color: #fff;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: #0f1214;
}
