.home {
    margin-top: 4rem;
    padding: 2rem;
}

.intro {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    /* background-color: red; */
}

.intro .banner {
    width: 70%;
}

.intro .banner img {
    width: 100%;
    position:relative;
    left: 32px;

}

.intro .info {
    flex-grow: 1;
    width: 70%;
    /* padding: 2rem */
}

.intro .info .heading,
.team .heading {
    font-size: 3rem;
    font-weight: 600;
    text-align: left;
}

.gradient-text {
    background: linear-gradient(120deg, var(--text-gradient-1), var(--text-gradient-2));
    /* Add text styles */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 3.5rem;
    font-weight: bolder
}

.intro .info .content {
    padding-top: 1rem;
    font-size: 1.2rem;
    font-weight: 300;
    text-align: left;
    line-height: 1.4em;
    color: var(--normal-text);
}

.team {
    margin-top: 8rem;
}

.team .teams-list {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

@media only screen and (max-width: 800px){
    .intro .banner{
        display: none
    }

    .intro .info{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%
    }

    .intro .info .content{
        text-align: center;
        width: min(45ch, 100%)
    }

    .intro .info .heading{
        text-align: center
    }

    .team{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .team .heading{
        text-align: center;
    }

    
    .team .teams-list {
        justify-content: center;
        gap: 2rem
    }


}